#submitButtonWrapper {
    margin-top: 2%;
    /* display: block; */
}

#submitButton {
    height: 35px;
    width: 120px;
    font-size: 18px;
    background-color: #4e6aa5;
    color: white;
}

#ageField {

}

#form {
    margin-top: 3%;
}

#heading {
    color: #8a0000;
    font-size: 35px;
}

#subheading {
    color: #9c292a;
    font-size: 20px;
}

#weightField {
    margin-top: 2%;
}

#weightInput {
    margin-left: 10px;
}

#ageInput {
    margin-left: 39px;
}

#wrapper {
    margin-top: 5%;
    /* margin-left: 200px; */
    text-align: center;
}

#ageLabel {
    font-size: 20px;
    font-weight: bold;
}

#weightLabel {
    font-size: 20px;
    font-weight: bold;
}

.required-field::after {
    content: " *";
    color: red;
}

